<div class="col-xs-12 main-content">
    <div class="row">
        <form>
            {{#ifCond config.menuEnabled '==' "true"}}
                {{#ifCond config.menuLocation '==' "side"}}
                    <div class="col-md-offset-2 col-lg-offset-2 col-xl-9 col-xl-offset-3 search-bar col-md-10 search-bar">
                {{else}}
                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search-bar">
                {{/ifCond}}
            {{else}}
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search-bar">
            {{/ifCond}}
                <div class="search-bar-input input-group searchMenuLocation-{{config.menuLocation}} searchProPerRow-{{config.productsPerRow}}">
                    <input type="text" name="frm_search" id="frm_search" class="form-control" placeholder="Search the shop">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btn_search" type="submit">Search</button>
                        <a href="/" class="hidden-xs btn btn-primary"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="container">
        {{#ifCond config.menuEnabled '==' "true"}}
            {{#ifCond config.menuLocation '==' "side"}}
                <div class="col-xl-3 col-md-2">
                    <ul class="list-group menu-side">
                        <li class="list-group-item active">{{config.menuTitle}}</li>
                        <li class="list-group-item"><a href="/">All</a></li>
                        {{#each menu.items}}
                            <li class="list-group-item"><a href="/category/{{this.link}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-xl-9 col-md-10">
            {{else}}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <ol class="breadcrumb menu-top breadcrumbProPerRow-{{config.productsPerRow}}">
                            <li><a href="/">Home</a></li>
                            {{#each menu.items}}
                                <li><a href="/category/{{this.link}}">{{this.title}}</a></li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            {{/ifCond}}
        {{else}}
            <div class="col-md-12">
                <div class="row">
        {{/ifCond}}
            {{#if filtered}}
                <div class="product-layout left-pad-30 col-md-12">
                    <strong>Showing results for: {{searchTerm}}</strong>
                </div>
            {{/if}}
            <div class="product-layout">
                {{#ifCond results.length '==' 0}}
                    <div class="col-md-12">
                        <p class="text-danger">No products found</p>
                    </div>
                {{/ifCond}}
                {{#each results}}
                    <div class="{{perRowClass ../config.productsPerRow}}">
                        <div class="thumbnail content-item-removethis">

                            {{#if productPermalink}}
                                <a href="/product/{{this.productPermalink}}" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-options="{{checkProductOptions this.productOptions}}">
                            {{else}}     
                                <a href="/product/{{this._id}}" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-options="{{checkProductOptions this.productOptions}}">
                            {{/if}}
                            
                            <div class="thumbnail-image-container tile-primary-content">
                                {{#if productImage}}
                                    <img class="img-responsive grayscale" src="{{this.productImage}}" alt="{{this.productTitle}}">
                                {{else}}
                                    <img class="img-responsive grayscale" src="/uploads/placeholder.png" alt="{{this.productTitle}}">
                                {{/if}}
                            </div>

                            <div class="product-details-wrap tile-secondary-content text-center">

                                <div class="stats">
                                    <div class="stat retweets"><i class="fa fa-retweet" aria-hidden="true"></i><span>12345</span></div>
                                    <div class="stat replies"><i class="fa fa-reply" aria-hidden="true"></i><span>12345</span></div>
                                </div>

                                <div class="product-details-padding">

                                    <h3 class="product-price">
                                        {{currencySymbol ../config.currencySymbol}}{{formatAmount productPrice}}
                                    </h3>

                                    <h3 class="product-title product-title-home top-pad-10">
                                        {{this.productTitle}}
                                    </h3>

                                    <button class="btn btn-primary add-to-cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-options="{{checkProductOptions this.productOptions}}" role="button">Choose color</button>

                                </div>
                            </div>


                            </a>

                        </div>
                    </div>
                {{/each}}
            </div>
            </div>
        </div>
        </div>
    </div>
    <input type="hidden" id="productsPerPage" value="{{productsPerPage}}" >
    <input type="hidden" id="pageNum" value="{{pageNum}}">
    <input type="hidden" id="totalProductCount" value="{{totalProductCount}}">
    <input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
    <input type="hidden" id="searchTerm" value="{{searchTerm}}">
    <div class="row">
        <div class="col-md-10 col-md-offset-2 col-xl-9 col-xl-offset-3">
            <div id="pager" class="text-center"></div>
        </div>
    </div>
</div>